.header{
  background-color: rgb(141, 193, 232);
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(108, 156, 195);
}

.topnav a {
  float: left;
  display: block;
  background-color: rgb(108, 156, 195);
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  background-image: url("cr.jpg");
  background-position: below .topnav center;
  background-color: lightblue;
  font-family:"Georgia";
}
