.header{
  background-color: mistyrose;
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: pink;
}

.topnav a {
  float: left;
  display: block;
  background-color: pink;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

body {
  background-color: mistyrose;
  font-family: "Georgia";
}
